@page
@model IndexModel


@{
    ViewData["Title"] = "Index";
}

<h2>Cadastro de Clientes</h2>

<p>
    <a class="btn btn-outline-primary" asp-page="./Create">Novo Cliente</a>
    <a class="btn btn-outline-secondary" asp-page="./Logradouro/Index">Logradouros</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                IdCliente
            </th>
            <th>
                Nome
            </th>
            <th>
                Email
            </th>
            <th>
                Logotipo
            </th>
            <th>
                IdLogradouro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.clientes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logotipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLogradouro)
            </td>
                <td>
                    <a asp-page="./Edit" class="btn btn-outline-warning" asp-route-id="@item.IdCliente">Editar</a>
                    <a asp-page="./Delete" class="btn btn-outline-danger" asp-route-id="@item.IdCliente">Apagar</a>
                </td>
        </tr>
}
    </tbody>
</table>
